/* font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif; */

/*
        Color Swatch
*/
:root {
	--lightGrey: #ebebeb;
	--grey: #b7b7b7;
	--yellow: #fff200;
	--lightPink: #f72585;
	--darkPink: #b5179e;
	--cyan: #4cc9f0;
	--blurple: #4361ee;
	--purple: #7209b7;
	--lightPurple: #b097c8;
	--darkPurple: #3a0ca3;
}

body {
	margin: 0;
	color: var(--lightGrey);
	background-color: var(--darkPurple);
	font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar {
	width: 14px;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--purple);
	border-radius: 20px;
	border: 3px solid #c3c3c3;
}
body::-webkit-scrollbar-track {
	background-color: #c3c3c3;
}

span {
	color: var(--lightGrey);
	font-size: 30px;
}

.flex {
	display: flex;
}
.flexWrap {
	flex-wrap: wrap;
}
.alignCenter {
	align-items: center;
}
.justifyContent {
	justify-content: center;
}

a {
	text-decoration: none;
}

.bodyWrapper {
	width: 1440px;
	margin: 0 auto;
	background-color: var(--lightPurple);
	overflow-x: hidden;
}

span.icon-menu {
	display: none;
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../Images/Ultra-Violet-Galactic-Header.jpg);
	width: 100%;
	height: 340px;
	font-family: 'Nunito', sans-serif;
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	border-bottom: 2px solid var(--lightGrey);
}

h2 {
	font-family: 'Nunito', sans-serif;
}

.header h1 {
	font-size: 37px;
	margin: 0;
}

.header h2 {
	margin: 0;
}
.header hr {
	border: none;
	height: 3px;
	border-radius: 4%;
	background-color: white;
	width: 100%;
	margin: 0 0 5px 0;
}

.header > div {
	text-align: center;
}

.header .linkWrapper {
	display: flex;
	position: absolute;
	top: 25px;
	right: 25px;
}

.header .iconButton > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--darkPink);
	transition: background-color 300ms;
	margin-left: 10px;
}

.header .iconButton > div:hover {
	background-color: var(--cyan);
	cursor: pointer;
}

.contentWrapper {
	padding: 80px 50px;
	box-sizing: border-box;
}

.nav {
	font-family: 'Nunito', sans-serif;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
	height: 50px;
	width: 100%;
	border-bottom: 2px solid var(--lightGrey);
	box-shadow: 0 8px 22px var(--purple);
}

.navLink {
	position: relative;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	background-color: rgba(58, 12, 163, 0.9);
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	transition: background-color 300ms;
	overflow: hidden;
}

.navLink > .ripple {
	position: absolute;
	background: #fff;
	transform: translate(-50%, -50%);
	pointer-events: none;
	border-radius: 50%;
	animation: ripples 0.6s linear infinite;
}
@keyframes ripples {
	0% {
		width: 0;
		height: 0;
		opacity: 0.5;
	}
	100% {
		width: 500px;
		height: 500px;
		opacity: 0;
	}
}

h2.navLink {
	margin: 0;
}

.selectedNav {
	background-color: rgba(181, 23, 158, 0.9);
}

.navLink:hover {
	cursor: pointer;
	background-color: rgba(181, 23, 158, 0.9);
}

.page {
	display: none;
	transition: transform 500ms;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.pageWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.show {
	display: block;
	opacity: 1;
	/*animation: slideInRight;*/
	animation-duration: 500ms;
}

@keyframes slideInRight {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

/*-------------------------- Pages -------------------------- */

.aboutMe {
}

#ZoomImagePopup {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 851px) {
	.mobileMenu {
		padding: 50px 0;
		box-sizing: border-box;
		position: fixed;
		display: block !important;
		top: 0;
		right: 0;
		height: 100vh;
		width: 80vw;
		transition: all 300ms;
		transform: translateX(100vw);
		background-color: rgba(58, 12, 163, 0.9);

	}

	.contentWrapper {
		padding: 30px 50px;
	}

	.bodyWrapper {
		width: 100vw;
	}

	.nav {
		display: none;
	}

	.navLink {
		height: 50px;
		margin: 15px 0 !important;
	}

	.header .linkWrapper {
		bottom: 25px;
		top: auto;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: fit-content;
	}

	span.icon-menu {
		font-size: 32px;
		display: block !important;
		position: fixed;
		top: 20px;
		right: 20px;
		z-index: 99;
	}

	.projects .flex.alignCenter {
		flex-wrap: wrap;
	}
}
